<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Document</title>
  </head>
  <body>
    <h1 th:text="${title}">Default Title</h1>
    <ul>
      <li>Name: <span th:text="${user.name}">Default Name</span></li>
      <li>Email: <span th:text="${user.email}">Default Email</span></li>
      <li th:if="${user.description}">
        Description:
        <span th:text="${user.description}">Default Description</span>
      </li>
      <li th:unless="${user.description}">
        Description:
        <span>No Description Available</span>
      </li>
    </ul>
  </body>
</html>
